body{
    padding: 20px;
    border: 2px  solid black; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;     
 }
 h1{
     color: red;
     text-align: center;
     border-bottom: 2px solid green;
 }
 #lang{
     padding: 20px;
     float: left;
     width: 400px;
     background: lightblue;
 }
 #frame{
     padding: 20px;
     float: right;
     width: 400px;
     background: lightblue;
 }