<!doctype html>
<html>
<head>
    <title>home page</title>
<style>
    body{
        margin: 0;
        overflow:hidden;
    }
    .head{
        text-align: center;
        color: white;
        background-color:black;
        padding:10px;
        font-size: 18px;
    }
    .foot{
        position:absolute;
        bottom: 0px;
        width: 100%;        
    }
    #mainsection{
        margin: 50px;
    }
    #mainsection pre{
        font-size:18px;
    }
</style>    
</head>
<body>
    <header class="head">
        <h1>Welcome to Django site :)</h1>
    </header>
    <section>
            <div id="mainsection">
                <h2>Features Of Django:-</h2>
                <pre>
                    1) Rapid Development
                    2) Secure
                    3) Scalable
                    4) Fully loaded
                    5) Versatile
                    6) Open Source
                    7) Vast and Supported Community
                </pre>
            </div>
    </section>
    <footer class="head foot"> 
            <h1>All Right Reserved 2K18 </h1>
            <p>Made by Aadesh</p>
    </footer>

</body>
</html>