<!doctype html>
<html>
<head>
    <title>home page</title>
<style>
    body{
        margin: 0;
        overflow:hidden;
    }
    .head{
        text-align: center;
        color: white;
        background-color:black;
        padding:10px;
        font-size: 18px;
    }
    .foot{
        position:absolute;
        bottom: 0px;
        width: 100%;        
    }
    #mainsection{
        margin: 50px;
    }
    #mainsection pre{
        font-size:18px;
    }
</style>    
</head>
<body>
    <header class="head">
        <h1>Welcome to Django site :)</h1>
    </header>
    <section>
            <div id="mainsection">
                <h2>Features Of Python:-</h2>
                <pre>
                        1) Easy to Learn and Use. Python is easy to learn and use. ...
                        2) Expressive Language. ...
                        3) Interpreted Language. ...
                        4) Cross-platform Language. ...
                        5) Free and Open Source. ...
                        6) Object-Oriented Language. ...
                        7) Extensible. ...
                        8) Large Standard Library.
                </pre>
            </div>
    </section>
    <footer class="head foot"> 
            <h1>All Right Reserved 2K18 </h1>
            <p>Made by Aadesh</p>
    </footer>

</body>
</html>