<!doctype html>
<html>
<head>
    <title>home page</title>
<style>
    body{
        margin: 0;
        overflow:hidden;
    }
    .head{
        text-align: center;
        color: white;
        background-color:black;
        padding:10px;
        font-size: 18px;
    }
    .foot{
        position:absolute;
        bottom: 0px;
        width: 100%;        
    }
    #mainsection{
        margin: 50px;
    }
    #mainsection pre{
        font-size:18px;
    }
</style>    
</head>
<body>
    <header class="head">
        <h1>Welcome to Django site :)</h1>
    </header>
    <section>
            <div id="mainsection">
                <h2>Features Of Rest Api:-</h2>
                <pre>
                  1) Browseable HTML API.
                  2) Development team / full-time support.
                  3) ORM and NON-ORM Data Serialization.
                  4) Community.
                  5) One of the best documentation among Python libs.
                  6) Pluggable Authentication with theAuth, theAuth2 and Social Auth.
                  7) Third Party Libs.
                </pre>
            </div>
    </section>
    <footer class="head foot"> 
            <h1>All Right Reserved 2K18 </h1>
            <p>Made by Aadesh</p>
    </footer>

</body>
</html>