<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alert Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/mdb.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/fontawesome-all.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}" />
   </head>
<body>
    <h1>Add Information Here :)</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" class="w-50 mx-auto p-3 border border-dark">
                    {% csrf_token %}
                    <div class="form-group">          
                        {% if messages %}
                            {% for msg in messages %}
                            <div class="alert alert-{{ msg.tags }} alert-dismissible">
                                    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{msg}} 
                            </div>
                            {% endfor %}    
                        {% endif %}     
                        {{myform.name}}
                        {{myform.email}}
                        {{myform.phone}}
                        <div>
                            <p class="d-inline">Select Gender:</p>
                                {{myform.gender}}
                        </div>
                        <div>
                            <p class="d-inline">Select Country:</p>
                                {{myform.country}}
                        </div>
                        <div class="mt-2">
                                <input type="submit" value="submit" class="btn btn-outline-black">
                                <input type="reset" class="btn btn-outline-black float-right">            
                        </div>
                   </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>