<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form methods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name:</td>
                <td>{{myform.name}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{myform.email}}</td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>{{myform.gender}}</td>
            </tr>
            <tr>
                <td>Uid</td>
                <td>{{myform.uid}}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit">
                </td>
            </tr>
        </table>
    </form>    
</body>
</html> 