<!doctype html>
<html>
<head>
    <title>Addition Application</title>
</head>
<style>
body{

}

#ok{
    float:right;
}
table td{
    padding: 5px;
}
#abc{
    border: 2px solid green;
    padding: 5px;
    width: 330px; 
    margin: auto;
    margin-top:30px;
}
h1{
    color: tomato;
    text-align: center; 
    font-style:italic;
}
p{
    text-align: center;
}
</style>
<body> 
<h1>Addition Application </h1>  
   <div id="abc">
        <form action="./add" method="GET">
            <table>
                    <tr>
                        <td>Enter ur first no:</td>
                        <td><input type="text" name="val1" required></td>
                    </tr>    
                    <tr>
                        <td>Enter ur second no:</td>
                        <td><input type="text" name="val2" required ></td>
                    </tr>    
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Submit">
                            <input id="ok" type="reset" value="Reset">
                        </td>
                    </tr>    
            </table>
        </form>
   </div>
   <p>Made by <a href="https://github.com/Aadeshkale" target="_blank">Aadesh</a></p>
</body>
</html>