<!doctype html>
<html>
<head>
<title>Division</title>
<style>
#maindiv{
    width: 25%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: 2px solid violet;
}
#maindiv h1{
    color: forestgreen;
}
table tr td{
    padding: 5px;
}
</style>    
</head>
<body>
    <div id="maindiv">
        <h1>Division Using Django</h1>
        <form action="./div" method="GET">
            <table>
                <tr>
                    <td>Enter Ur first no:</td>
                    <td><input type="number" name="val1" required></td>
                </tr>
                <tr>
                    <td>Enter Ur second no:</td>
                    <td><input type="number" name="val2" required></td>
                </tr>
                <tr>
                    <td><label>Result:</label></td>
                    <td><b>{{result}}</b></td>    
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Submit">
                        <input type="reset" value="Reset">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>