<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cookies in django</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <p>Cookies example</p>
    <ul>
        <li>
            <a href="cookie/add">Create Cookie</a>
        </li>
        
        <li>
            <a href="cookie/access">Access Cookie</a>
        </li>
        <li>
            <a href="cookie/remove">Delete Cookie</a>
        </li>
        <li>
            <a href="count">Count visits</a>
        </li>
    </ul>
</body>
</html>