<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Calc App &gt; Division</h1>
        <form action="div/op" method="GET"> 
            <table>
                <tr>
                    <td>No1</td>
                    <td>
                        <input name="no1" type="number">
                    </td>
                </tr>
                <tr>
                    <td>No2</td>
                    <td>
                        <input name="no2" type="number">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit">
                    </td>
                </tr>
            </table>
        </form>
</body>
</html>