<!doctype html>
<html>
<head>
<title>Calc Using Django</title>    
<style>
#maindiv{
    width: 25%;
    margin: auto;
    margin-top: 50px;
    border: 2px solid red;
    text-align: center
}
#maindiv h1{
    color: forestgreen;
    border-bottom:2px solid blueviolet

}
#maindiv ul{
    list-style-type: none;
    text-align: left;
}
#maindiv ul li{
    margin: 5px;
}
#maindiv ul li a{
    text-decoration: none;
    color: white;
    padding: 2px 25px;
    background-color:coral; 
}
</style>
</head>
<body>
    <div id="maindiv">
        <h1>Calc Using Django</h1>
        <div>
            <ul>
                <li>
                    <a href="addition/">Addition</a>
                </li>
                <li>
                    <a href="division/">Division</a>
                </li>
                <li>
                    <a href="substraction/">Substraction</a>
                </li>
                <li>
                    <a href="multiplication/">Multiplication</a>
                </li>
            </ul>
        </div>    
    </div>
</body>
</html>