<html>
<head>
      <title>Dyanamic Template</title>
</head>
<body>
    <h1>Working Fine :) </h1>
    <hr>
    <h2>Computer languages</h2>
        <ul>
            <li>Python</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>C++</li>
        </ul>
        <h2>Computer languages Frameworks</h2>
        <ul>
            <li>Django</li>
            <li>Bootstrap</li>
            <li>Flask</li>
            <li>pyweb</li>
            <li>spider</li>
        </ul>
</body>
</html>